<div class="row">
  <div class="col-xl-3">
    <article class="statistic-box purple">
        <div>
          <div class="number">
            <%= policy_scope(FacebookPage).count %>
          </div>
          <div class="caption">
            <div>
              Monitored Facebook Pages
            </div>
          </div>
        </div>
    </article>
  </div>

  <div class="col-xl-3">
    <article class="statistic-box yellow">
        <div>
          <div class="number">
            <%= policy_scope(FacebookPost).blacklisted.size %>
          </div>
          <div class="caption">
            <div>
              Blacklisted Ads
            </div>
          </div>
        </div>
    </article>
  </div>

  <div class="col-xl-3">
    <article class="statistic-box green">
        <div>
          <div class="number">
            <%= policy_scope(FacebookPost).reported_to_facebook.size %>
          </div>
          <div class="caption">
            <div>
              Reported to Facebook Ads
            </div>
          </div>
        </div>
    </article>
  </div>

  <div class="col-xl-3">
    <article class="statistic-box red">
        <div>
          <div class="number">
            <%= @shutdown_count %>
          </div>
          <div class="caption">
            <div>
              Shutdowns to Date
            </div>
          </div>
        </div>
    </article>
  </div>

  <div class="col-xl-4">
    <section class="card">
  		<header class="card-header card-header-lg">
  			Most Egregious Violators
  		</header>
  		<div class="card-block">
        <div class="row">
          <% @violators.each do |domain, count| %>
            <% perc = (count / @total_violations.to_f * 100).round %>
            <div class="col-xl-4">
              <%= domain %>
            </div>
            <div class="col-xl-8">
              <div class="progress-with-amount">
                <progress class="progress progress-success" value="<%= perc %>" max="100"></progress>
                <div class="progress-with-amount-number">
                  <%= perc %>%
                </div>
              </div>
            </div>
          <% end %>
        </div>
  		</div>
  	</section>
  </div>



  <div class="col-xl-4">
    <article class="statistic-box grey">
        <div>
          <div class="number">
            ?$
          </div>
          <div class="caption">
            <div>
              Licensor Revenue Saved To Date
            </div>
          </div>
        </div>
    </article>
  </div>
</div>
