<%= simple_form_for(employee, html: { class: 'form-horizontal', novalidate: false }) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "employee_form", f: f %>

  <div class="actions row well-sm">
    <div class="col-md-offset-4 col-md-4">
      <%= f.submit class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
<% end %>
