<%= simple_form_for(employee, html: { class: 'form-horizontal', id: 'employee-form', novalidate: false }) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "employee_form", f: f %>

  <div class="actions row well-sm">
    <div class="col-md-offset-4 col-md-4">
      <%= link_to "Cancel", employee_redirect_url_on_edit(@employee), class: "btn btn-default btn-lg" %>
    </div>
    <div class="col-md-4">
      <% if @employee.persisted? %>
        <%= f.submit "Save", class: "btn btn-secondary btn-lg" %>
      <% end %>
      <% unless @current_page == 'languages' %>
        <%= f.submit "Save and Next",  class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>
<% end %>
