<!-- Modal -->
<%# s %>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <%= search_form_for @q, url: employees_data_reports_path, html:{method: :get, id: "facebook_post_search"} do |f| %>
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select fields for report</h4>
        </div>
        <div class="modal-body">
          <% params[:q].try(:each) do |key, value| %>
            <%= hidden_field_tag "q[#{key}]", value %>
          <% end %>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <input type="checkbox" class="select_all" name="[employee][name" ><strong class="ml5 mr15">Select All</strong>
              </div>
            </div>

            <label for="email"><strong>Employee:</strong></label>
            <div class="row">
              <% Employee::REPORT_FIELDS.each do |rf_key, rf_val| %>
                <div class="col-md-4">
                  <%= check_box_tag "employee[#{rf_key}]" %>
                  <span class="ml5 mr15"><%= rf_val %></span>
                </div>
              <% end %>

              <div class="col-md-4">
                <input type="checkbox" name="employee[user][email]" ><span class="ml5 mr15">Email</span>
              </div>
            </div>

          </div>

          <%= render "select_report_columns_of_model", model: "visa_detail" %>
          <%= render "select_report_columns_of_model", model: "passport_detail" %>
          <%= render "select_report_columns_of_model", model: "labor_card_detail" %>
          <%= render "select_report_columns_of_model", model: "educations" %>
          <%= render "select_report_columns_of_model", model: "certificates" %>
          <%= render "select_report_columns_of_model", model: "trainings" %>
          <%= render "select_report_columns_of_model", model: "technical_skills" %>
          <%= render "select_report_columns_of_model", model: "languages" %>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Generate Report</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>

  </div>
</div>
