<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :visa_id %>
  <%= f.text_field :visa_id, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :issue, "Issue Date" %>
  <%= f.date_field :issue, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :finish, "Finish Date" %>
  <%= f.date_field :finish, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :completed, "Completed Date" %>
  <%= f.date_field :completed, class: 'form-control' %>
</div>


<div class="form-group">
  <%= f.label :notes, "Note" %>
  <%= f.text_area :notes, class: 'form-control' %>
</div>
