<dir class="counterfind_ux_v2">

  <div class="inner-header">
    <div class="holder">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="heading-holder">
            <h3 class="m0">
              Employees
              <% if term = params.dig(:q, :name_cont).presence %>
                ('<span class="fillter-value"><%= term %></span>')
              <% else %>
                (all)
              <% end %>
              (<%= @employees.total_count %>)
              <%= link_to new_employee_path, class: "btn btn-primary" do %>
                <%= icon("plus") %>
                Add New
              <% end %>
            </h3>
          </div>
        </div>

      </div>
    </div>
  </div>
  <%= render "shared/resource_top_search" %>

  <%= paginate @employees %>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th><%= sort_link(@q, :surname_case_insensitive, "Surname") %></th>
        <th><%= sort_link(@q, :name_case_insensitive, "Name") %></th>
        <th><%= sort_link(@q, :phone, "Phone") %></th>
        <th><%= sort_link(@q, :dob, "Date of Birth") %></th>
        <th>Manager</th>
        <th>User</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td>
            <%= employee.surname %>
          </td>
          <td>
            <%= employee.name %>
          </td>
          <td>
            <%= employee.phone %>
          </td>
          <td>
            <%= employee.dob.try(:strftime, '%b %d, %Y') %>
          </td>
          <td>
              <%= employee.manager&.display_name %>
          </td>
          <td>
              <%= employee.user&.display_name %>
          </td>
          <td class="text-right">
            <%= link_to edit_employee_path(employee),
                        class: "btn btn-secondary btn-sm" do %>
              <%= icon("pencil") %>
              Edit
            <% end %>
            <%= link_to employee,
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: "btn btn-danger btn-sm" do %>
              <%= icon("trash") %>
              Delete
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @employees %>
</div>
