<dir class="counterfind_ux_v2">
  <div class="inner-header">
    <div class="holder">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="heading-holder">
            <h3 class="m0">
              Employees
              <% if term = params.dig(:q, :name_cont).presence %>
                ('<span class="fillter-value"><%= term %></span>')
              <% else %>
                (all)
              <% end %>
              (<%= @employees.total_count %>)
              <% if policy(current_user.employee).new? %>
                <%= link_to new_employee_path, class: "btn btn-primary" do %>
                  <%= icon("plus") %>
                  Add New
                <% end %>
              <% end %>
              <% if policy(:report).employees_data? %>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                  <%= icon("export") %>
                    Get Report
                </button>
              <% end %>
            </h3>
          </div>
        </div>

      </div>
    </div>
  </div>

  <%= render 'search_form' %>

  <%= paginate @employees %>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th><%= sort_link(@q, :surname_case_insensitive, "Surname") %></th>
        <th><%= sort_link(@q, :name_case_insensitive, "Name") %></th>
        <th><%= sort_link(@q, :phone) %></th>
        <th><%= sort_link(@q, :dob) %></th>
        <th>Manager</th>
        <th>Visa ID</th>
        <th>Trainings</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td>
            <%= employee.surname %>
          </td>
          <td>
            <%= employee.full_name %>
          </td>
          <td>
            <%= employee.phone %>
          </td>
          <td>
            <%= employee.dob.try(:strftime, '%b %d, %Y') %>
          </td>
          <td>
              <%= employee.manager&.display_name %>
          </td>
          <td>
              <%= employee.visa_detail&.visa_id %>
          </td>
          <td>
              <%= employee.trainings.pluck(:name).join(', ') %>
          </td>
          <td class="text-right">
            <% if policy(employee).edit? %>
              <%= link_to edit_employee_path(employee),
                          class: "btn btn-secondary btn-sm" do %>
                <%= icon("pencil") %>
                Edit
              <% end %>
            <% end %>

            <% if policy(current_user.employee).show? %>
              <%= link_to employee_path(employee),
                          class: "btn btn-primary btn-sm" do %>
                <%= icon("user") %>
                View
              <% end %>
            <% end %>

            <% if policy(User).edit? %>
              <% if employee.user_id.present? %>
                <%= link_to edit_user_path(employee.user_id),
                            class: "btn btn-success btn-sm" do %>
                  <%= icon("user") %>
                  update Account
                <% end %>
              <% else %>
                <%= link_to new_user_path({employee_id: employee.id}),
                            class: "btn btn-success btn-sm" do %>
                  <%= icon("user") %>
                   validate Account
                <% end %>
              <% end %>
            <% end %>

            <% if policy(employee).destroy? %>
              <%= link_to employee,
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: "btn btn-danger btn-sm" do %>
                <%= icon("trash") %>
                Delete
              <% end %>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @employees %>
</div>
<%= render 'report_options_modal' %>
