<div class="card search-filters">
  <div class="card-block">
    <h4 class="card-title">Filters</h4>
    <%= search_form_for @q do |f| %>
      <%= f.hidden_field :status_eq, value: params[:q][:status_eq] %>

      <div class="row">
        <% unless @status == 'affiliate_greylisted' %>
          <div class="col-md-3 form-group">
            <%= f.label :with_any_domain, t(:platform_or_company) %>
            <%= f.select :with_any_domain,
                         policy_scope(Domain).sort.pluck(:name, :name),
                         { include_blank: true },
                         class: "form-control select2" %>
          </div>

          <div class="col-md-3 form-group">
            <%= f.label :with_any_brand, t(:brand_name) %>
            <%= f.select :facebook_page_brands_id_eq,
                          filter_results(@brand),
                          { include_blank: true },
                          class: "form-control remote-select2",
                          "data-source": search_brands_path(format: :js)  %>
          </div>
        <% end %>
        <div class="col-md-3 form-group">
          <%= f.label :facebook_page_name_eq, "Page" %>
          <%= f.select :facebook_page_id_eq,
                       filter_results(@fb_page),
                       { include_blank: true },
                       class: "form-control remote-select2",
                       "data-source": search_facebook_pages_path(format: :js)  %>
        </div>

        <% if policy(Licensor).search? && @status != "affiliate_greylisted"%>
          <div class="col-md-3 form-group">
            <%= f.label :with_licensor_name, "Licensor" %>
            <%= f.select :facebook_page_brands_licensor_id_eq,
                         filter_results(@licensor),
                         { include_blank: true },
                         class: "form-control remote-select2",
                         "data-source": search_licensors_path(format: :js)  %>
          </div>
        <% end %>

        <div class="col-md-3 form-group">
          <%= f.label :published_at_gteq, "Published at date" %>
          <%= f.select :published_at_gteq,
                       date_filter_options_for(:published_at_gteq),
                       { include_blank: true },
                       class: "form-control select2" %>
        </div>

        <% if @status == "whitelisted" %>
          <div class="col-md-3 form-group">
            <%= f.label :whitelisted_at_gteq, "Approved at date" %>
            <%= f.select :whitelisted_at_gteq,
                         date_filter_options_for(:whitelisted_at_gteq),
                         { include_blank: true },
                         class: "form-control select2" %>
          </div>
        <% end %>

        <% if @status == "blacklisted" %>
          <div class="col-md-3 form-group">
            <%= f.label :blacklisted_at_gteq, "#{t(:blacklisted_at)} date" %>
            <%= f.select :blacklisted_at_gteq,
                         date_filter_options_for(:blacklisted_at_gteq),
                         { include_blank: true },
                         class: "form-control select2" %>
          </div>

          <div class="col-md-3 form-group">
            <%= f.label :blacklisted_by_eq, "#{t(:blacklisted_by)}" %>
            <%= f.select :blacklisted_by_eq,
                         User.all.collect {|user| [ user.display_name, user.email ]},
                         { include_blank: true },
                         class: "form-control select2" %>
          </div>
        <% end %>

        <% if @status == "reported_to_facebook" %>
          <div class="col-md-3 form-group">
            <%= f.label :reported_to_facebook_at_gteq, "Reported to Facebook at date" %>
            <%= f.select :reported_to_facebook_at_gteq,
                         date_filter_options_for(:reported_to_facebook_at_gteq),
                         { include_blank: true },
                         class: "form-control select2" %>
          </div>

          <div class="col-md-3 form-group">
            <%= f.label :shut_down_by_facebook_at_gteq, "Shut down by Facebook at date" %>
            <%= f.select :shut_down_by_facebook_at_gteq,
                         date_filter_options_for(:shut_down_by_facebook_at_gteq),
                         { include_blank: true },
                         class: "form-control select2" %>
          </div>
        <% end %>

        <div class="col-md-3 form-group">
          <%= f.label :id_eq, t(:reference_number) %>
          <%= f.text_field :id_eq, class: "form-control" %>
        </div>

        <% if @status == "reported_to_facebook" %>
          <div class="col-md-3 form-group">
            <%= f.label :blacklisted_at_gteq, t(:blacklisted_at) + ", from date:" %>
            <%= f.date_field :blacklisted_at_gteq, class: "form-control" %>
          </div>

          <div class="col-md-3 form-group">
            <%= f.label :blacklisted_at_lteq, t(:blacklisted_at) + ", to date:" %>
            <%= f.date_field :blacklisted_at_lteq, class: "form-control" %>
          </div>
        <% end %>

        <div class="col-md-12 form-group">
          <%= button_tag class: "btn btn-primary btn-sm" do %>
            <%= icon("search") %>
            Filter
          <% end %>
          &nbsp;
          <%= link_to url_for(q: { status_eq: params[:q][:status_eq] }),
                      class: "btn btn-secondary btn-sm" do %>
            <%= icon("eraser") %>
            Clear filters
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
