<div class="card search-filters">
  <div class="card-block">
    <h4 class="card-title">Filters</h4>
    <%= search_form_for @q do |f| %>
      <%= f.hidden_field :status_eq, value: params[:q][:status_eq] %>

      <div class="row">
        <div class="col-md-3 form-group">
          <%= f.label :with_any_domain, t(:platform_or_company) %>
          <%= f.select :with_any_domain,
                       FacebookPost.where(status: params[:q][:status_eq]).
                                    pluck(:all_domains).
                                    flatten.
                                    uniq.
                                    sort,
                       { include_blank: true },
                       class: "form-control select2" %>
        </div>

        <div class="col-md-3 form-group">
          <%= f.label :with_any_brand, t(:brand_name) %>
          <%= f.collection_select :facebook_page_brands_id_eq,
                                  Brand.all.order("LOWER(name)"),
                                  :id,
                                  :name,
                                  { include_blank: true },
                                  class: "form-control select2" %>
        </div>

        <div class="col-md-3 form-group">
          <%= f.label :facebook_page_name_eq, "Page" %>
          <%= f.collection_select :facebook_page_id_eq,
                                  FacebookPage.order("LOWER(name)"),
                                  :id,
                                  :name,
                                  { include_blank: true },
                                  class: "form-control select2" %>
        </div>

        <div class="col-md-3 form-group">
          <%= f.label :with_licensor_name, "Licensor" %>
          <%= f.collection_select :facebook_page_brands_licensor_id_eq,
                                  Licensor.order("LOWER(name)"),
                                  :id,
                                  :name,
                                  { include_blank: true },
                                  class: "form-control select2" %>
        </div>

        <div class="col-md-3 form-group">
          <%= f.label :published_at_gteq, "Published at date" %>
          <%= f.select :published_at_gteq,
                       date_filter_options_for(:published_at_gteq),
                       { include_blank: true },
                       class: "form-control select2" %>
        </div>

        <% if @status == "whitelisted" %>
          <div class="col-md-3 form-group">
            <%= f.label :whitelisted_at_gteq, "Approved at date" %>
            <%= f.select :whitelisted_at_gteq,
                         date_filter_options_for(:whitelisted_at_gteq),
                         { include_blank: true },
                         class: "form-control select2" %>
          </div>
        <% end %>

        <% if @status == "blacklisted" %>
          <div class="col-md-3 form-group">
            <%= f.label :blacklisted_at_gteq, "#{t(:blacklisted_at)} date" %>
            <%= f.select :blacklisted_at_gteq,
                         date_filter_options_for(:blacklisted_at_gteq),
                         { include_blank: true },
                         class: "form-control select2" %>
          </div>
        <% end %>

        <% if @status == "reported_to_facebook" %>
          <div class="col-md-3 form-group">
            <%= f.label :reported_to_facebook_at_gteq, "Reported to Facebook at date" %>
            <%= f.select :reported_to_facebook_at_gteq,
                         date_filter_options_for(:reported_to_facebook_at_gteq),
                         { include_blank: true },
                         class: "form-control select2" %>
          </div>

          <div class="col-md-3 form-group">
            <%= f.label :shut_down_by_facebook_at_gteq, "Shut down by Facebook at date" %>
            <%= f.select :shut_down_by_facebook_at_gteq,
                         date_filter_options_for(:shut_down_by_facebook_at_gteq),
                         { include_blank: true },
                         class: "form-control select2" %>
          </div>
        <% end %>

        <div class="col-md-12 form-group">
          <%= button_tag class: "btn btn-primary" do %>
            <%= icon("search") %>
            Filter
          <% end %>
          &nbsp;
          <%= link_to url_for(q: { status_eq: params[:q][:status_eq] }),
                      class: "btn btn-secondary" do %>
            <%= icon("eraser") %>
            Clear filters
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
