<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Image</th>
      <th>Message</th>
      <th><%= t(:brand_name) %></th>
      <th><%= t(:licensor_name) %></th>
      <th><%= t(:platform_or_company) %></th>
      <th><%= sort_link(@q, :facebook_page_name, "Page") %></th>
      <th><%= sort_link(@q, :published_at, "Published at") %></th>
      <% if @status == "blacklisted" %>
        <th><%= sort_link(@q, :blacklisted_at, "Reported at") %></th>
      <% elsif @status == "whitelisted" %>
        <th><%= sort_link(@q, :whitelisted_at, "Approved at") %></th>
      <% end %>
      <% if @status == "blacklisted" %>
        <th><%= t(:link_to_ad_screenshot) %></th>
        <th><%= t(:link_to_product_screenshot) %></th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to image_tag(post.image_url, width: "150px"),
                      post.permalink,
                      target: "_blank" if post.image_url.present? %>
        </td>
        <td>
          <%= auto_link(post.message) %>
          <br>
          <%= link_to post.permalink,
                      target: "_blank",
                      class: "btn btn-sm btn-outline-primary go-to-post" do %>
            <%= icon("external-link") %>
            &nbsp;Go to post
          <% end %>
        </td>
        <td>
          <%= post.brand_names %>
        </td>
        <td>
          <%= post.licensor_names %>
        </td>
        <td>
          <%= post.all_domains.join(", ") %>
        </td>
        <td>
          <%= link_to post.facebook_page.name, post.facebook_page.url, target: "_blank" %>
        </td>
        <td>
          <%= l(post.published_at, format: :compact) %>
        </td>
        <% if @status.in? ["blacklisted", "whitelisted"] %>
          <td>
            <%= l(post.status_changed_at, format: :compact) if post.status_changed_at %>
            <br>
            <%= post.status_changed_by if post.status_changed_by%>
          </td>
        <% end %>
        <% if @status == "blacklisted" %>
          <td>
            <%= ad_screenshot_links(post) %>
          </td>
          <td>
            <%= product_screenshot_links(post) %>
          </td>
        <% end %>

        <td class="index-actions">
          <%= render 'actions', post: post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
