<div id="div-table">
  <div class="custom_table">
    <div class="div_Table slide_table" id="post_table">

      <div class="div_TableRow table_header slick_table">
        <div class="div_TableHead"><%= sort_link(@q, :published_at, t(:published_at)) %></div>
        <div class="div_TableHead"><%= sort_link(@q, :blacklisted_at, t(:blacklisted_at)) %></div>
        <div class="div_TableHead"><%= sort_link(@q, :blacklisted_by, t(:blacklisted_by)) %></div>
        <div class="div_TableHead">Image</div>
        <div class="div_TableHead">Message</div>
        <div class="div_TableHead"><%= sort_link(@q, :facebook_page_post_brands_facebook_page_brand_brand_name, t(:brand_name)) %></div>
        <div class="div_TableHead"><%= sort_link(@q, :facebook_page_post_brands_facebook_page_brand_brand_licensor_name, t(:licensor_name)) %></div>
        <div class="div_TableHead"><%= sort_link(@q, :all_domains, t(:platform_or_company)) %></div>
        <div class="div_TableHead"><%= sort_link(@q, :facebook_page_name, t(:facebook_page_name)) %></div>
        <div class="div_TableHead"><%= sort_link(@q, :reported_to_facebook_at, t(:reported_to_facebook_at)) %></div>
        <div class="div_TableHead"><%= sort_link(@q, :shut_down_by_facebook_at, t(:shut_down_by_facebook_at)) %></div>
        <div class="div_TableHead"><%= t(:facebook_report_number) %></div>
        <div class="div_TableHead"><%= t(:link_to_product) %></div>
        <div class="div_TableHead"><%= t(:link_to_ad_screenshot) %></div>
        <div class="div_TableHead"><%= t(:link_to_product_screenshot) %></div>
        <div class="div_TableHead">Actions</div>
      </div>

      <% @posts.to_a.uniq.each do |post| %>
        <div class="div_TableRow table_body slick_table fb-post-table">
          <div class="div_TableCell">
            <%= l(post.published_at.try(:to_date), format: :compact) %>
          </div>
          <div class="div_TableCell">
            <%= l(post.blacklisted_at.try(:to_date), format: :compact) if post.blacklisted_at %>
          </div>
          <div class="div_TableCell">
            <%= post.blacklisted_by %>
          </div>
          <div class="div_TableCell">
            <div class="col-img">
              <%= link_to image_tag(post_logo_url(post.image_url), width: "150px"),
                          post.permalink,
                          target: "_blank" if post.image_url.present? %>
            </div>
          </div>
          <div class="div_TableCell">
            <div class="col-msg">
              <p class="msg-txt-close">
                <%= auto_link(post.message) %>
              </p>
              <br>
              <%= link_to post.permalink,
                          target: "_blank",
                          class: "btn btn-sm btn-outline-primary go-to-post" do %>
                <%= icon("external-link") %>
                &nbsp;Go to ad
              <% end %>
            </div>

          </div>
          <div class="div_TableCell">
            <%= post.brand_names rescue "" %>
          </div>
          <div class="div_TableCell">
            <%= post.licensor_names rescue "" %>
          </div>
          <div class="div_TableCell">
            <%= post.all_domains.join(", ") %>
          </div>
          <div class="div_TableCell">
            <%= link_to post.facebook_page.name, post.facebook_page.url, target: "_blank" %>
          </div>
          <div class="div_TableCell">
            <%= l(post.reported_to_facebook_at.try(:to_date), format: :compact) if post.reported_to_facebook_at %>
          </div>
          <div class="div_TableCell">
            <% if post.shut_down_by_facebook_at %>
              <%= l(post.shut_down_by_facebook_at.try(:to_date), format: :compact)  %>
            <% else %>
              Pending
            <% end %>
          </div>
          <div class="div_TableCell">
            <%= form_for post do |f| %>
              <%= f.text_field :facebook_report_number, class: "form-control form-control-sm quick-form" %>
              <%= f.button t(:update), class: "btn btn-primary-outline btn-sm" %>
            <% end %>
          </div>
          <div class="div_TableCell">
            <% if link = post.all_links.last %>
              <%= link_to "Link", link, target: "_blank" %>
            <% end %>
          </div>
          <div class="div_TableCell">
            <%= ad_screenshot_links(post) %>
          </div>
          <div class="div_TableCell">
            <%= product_screenshot_links(post) %>
          </div>

          <div class="div_TableCell index-actions p5">
            <%= render 'actions', post: post %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

