<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Image</th>
      <th>Message</th>
      <th><%= sort_link(@q, :facebook_page_brands_name, t(:brand_name)) %></th>
      <th><%= sort_link(@q, :facebook_page_brands_licensor_name, t(:licensor_name)) %></th>
      <th><%= sort_link(@q, :all_domains, t(:platform_or_company)) %></th>
      <th><%= sort_link(@q, :facebook_page_name, "Page") %></th>
      <th><%= sort_link(@q, :reported_to_facebook_at, "Reported to Facebook at") %></th>
      <th><%= sort_link(@q, :reported_to_facebook_by, "Reported to Facebook by") %></th>
      <th><%= sort_link(@q, :shut_down_by_facebook_at, "Shut down by Facebook at") %></th>
      <th><%= t(:link_to_ad_screenshot) %></th>
      <th><%= t(:link_to_product_screenshot) %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to image_tag(post.image_url, width: "150px"),
                      post.permalink,
                      target: "_blank" if post.image_url.present? %>
        </td>
        <td>
          <%= auto_link(post.message) %>
          <br>
          <%= link_to post.permalink,
                      target: "_blank",
                      class: "btn btn-sm btn-outline-primary go-to-post" do %>
            <%= icon("external-link") %>
            &nbsp;Go to ad
          <% end %>
        </td>
        <td>
          <%= post.brand_names %>
        </td>
        <td>
          <%= post.licensor_names %>
        </td>
        <td>
          <%= post.all_domains.join(", ") %>
        </td>
        <td>
          <%= link_to post.facebook_page.name, post.facebook_page.url, target: "_blank" %>
        </td>
        <td>
          <%= l(post.reported_to_facebook_at, format: :compact) if post.reported_to_facebook_at %>
        </td>
        <td>
          <%= post.reported_to_facebook_by %>
        </td>
        <td>
          <% if post.shut_down_by_facebook_at %>
            <%= l(post.shut_down_by_facebook_at, format: :compact)  %>
          <% else %>
            Pending
          <% end %>
        </td>
        <td>
          <%= ad_screenshot_links(post) %>
        </td>
        <td>
          <%= product_screenshot_links(post) %>
        </td>

        <td class="index-actions">
          <%= render 'actions', post: post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
