<div class="row">
  <div class="col-md-8">
    <h1>
      Blacklisted posts export
    </h1>
  </div>
  <div class="col-md-4 text-right">
    <%= link_to url_for(format: :csv),
                class: "btn btn-primary" do %>
      <%= icon("download") %>
      <%= t(:download_as_csv) %>
    <% end %>
  </div>
</div>

<strong>
  <% if params[:from].present? %>
    From
    <%= l(Date.parse(params[:from]), format: :long) %>
  <% end %>
  <% if params[:to].present? %>
    to
    <%= l(Date.parse(params[:to]), format: :long) %>
  <% else %>
    All time
  <% end %>
  (<%= @posts.size %> posts)
</strong>
<hr>

<%= form_tag export_facebook_posts_path, method: :get, html: { class: "form-inline" } do %>
  <div class="form-group row">
    <div class="col-md-2">
      <%= label_tag :from, "From date", class: "col-form-label" %>
      <%= date_field_tag :from, params[:from], class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= label_tag :from , "To date", class: "col-form-label" %>
      <%= date_field_tag :to, params[:to], class: "form-control" %>
    </div>
    <div class="col-md-2">
      <br>
      <%= button_tag class: "btn btn-primary" do %>
        <%= icon("filter") %>
        Filter
      <% end %>
    </div>
  </div>
<% end %>

<hr>

<%= paginate @posts %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= sort_link(@q, :posted_at, t(:posted_at)) %></th>
      <th><%= sort_link(@q, :status_changed_at, t(:status_changed_at)) %></th>
      <th><%= t(:brand_name) %></th>
      <th><%= t(:licensor_name) %></th>
      <th><%= t(:platform_or_company) %></th>
      <th><%= sort_link(@q, :facebook_page_name, t(:facebook_page_name)) %></th>
      <th><%= t(:message) %></th>
      <th><%= t(:link_to_product) %></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= l(post.posted_at, format: :long) %>
        </td>
        <td>
          <%= l(post.status_changed_at, format: :long) %>
        </td>
        <td>
          <%= post.brand_names %>
        </td>
        <td>
          <%= post.licensor_names %>
        </td>
        <td>
          <%= post.all_domains.join(", ") %>
        </td>
        <td>
          <%= link_to post.facebook_page.name, post.facebook_page.url, target: "_blank" %>
        </td>
        <td>
          <%= link_to truncate(post.message, length: 20), post.permalink, target: "_blank" %>
        </td>
        <td>
          <%= link_to "Link", post.all_links.last %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>
