<div class="counterfind_ux_v2">
  <div class="inner-header">
    <div class="holder">
      <div class="row">
        <div class="col-md-8">
          <div class="heading-holder">
            <h3 class="m0">
              Blacklisted ads export
            </h3>
            <strong>
              <% if params[:from].present? %>
                From
                <%= l(Date.parse(params[:from]), format: :compact) %>
              <% end %>
              <% if params[:to].present? %>
                to
                <%= l(Date.parse(params[:to]), format: :compact) %>
              <% end %>
              <% if !params[:from].present? && !params[:to].present? %>
                All time
              <% end %>
              (<%= @posts.distinct.total_count %> posts)
            </strong>
          </div>
        </div>
        <div class="col-md-4 text-right pl5 pr5">
          <%= link_to url_for(from: params[:from], to: params[:to], q: csv_export_params(params[:q]), format: :csv),
                      class: "btn btn-primary" do %>
            <%= icon("download") %>
            <%= t(:download_as_csv) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'export_filters' %>
  <div id="div-table"  class="m-30">
    <div class="custom_table holder-full">
      <div class="div_Table slide_table" id="export_table">

        <div class="div_TableRow table_header slick_table">
          <div class="div_TableHead"><%= sort_link(@q, :published_at, t(:published_at)) %></div>
          <div class="div_TableHead"><%= sort_link(@q, :blacklisted_at, t(:blacklisted_at)) %></div>
          <div class="div_TableHead"><%= sort_link(@q, :blacklisted_by, t(:blacklisted_by)) %></div>
          <div class="div_TableHead"><%= t(:link_to_ad_screenshot) %></div>
          <div class="div_TableHead"><%= t(:message) %></div>
          <div class="div_TableHead"><%= t(:link_to_ad_on_facebook) %></div>
          <div class="div_TableHead"><%= sort_link(@q, :facebook_page_post_brands_facebook_page_brand_brand_name, t(:brand_name)) %></div>
          <div class="div_TableHead"><%= sort_link(@q, :facebook_page_post_brands_facebook_page_brand_brand_licensor_name, t(:licensor_name)) %></div>
          <div class="div_TableHead"><%= sort_link(@q, :all_domains, t(:platform_or_company)) %></div>
          <div class="div_TableHead"><%= sort_link(@q, :facebook_page_name, t(:facebook_page_name)) %></div>
          <div class="div_TableHead"><%= sort_link(@q, :likes, t(:likes)) %></div>
          <div class="div_TableHead"><%= sort_link(@q, :reported_to_facebook_at, t(:reported_to_facebook_at)) %></div>
          <div class="div_TableHead"><%= sort_link(@q, :reported_to_facebook_by, t(:reported_to_facebook_by)) %></div>
          <div class="div_TableHead"><%= sort_link(@q, :shut_down_by_facebook_at, t(:shut_down_by_facebook_at)) %></div>
          <div class="div_TableHead"><%= t(:facebook_report_number) %></div>
          <div class="div_TableHead"><%= t(:link_to_product) %></div>
          <div class="div_TableHead"><%= t(:link_to_product_screenshot) %></div>
        </div>

        <% @posts.to_a.uniq.each do |post| %>
          <div class="div_TableRow table_body slick_table fb-post-table">
            <div class="div_TableCell">
              <%= l(post.published_at, format: :compact) %>
            </div>
            <div class="div_TableCell" >
              <%= l(post.blacklisted_at, format: :compact) if post.blacklisted_at %>
            </div>
            <div class="div_TableCell" >
              <%= post.blacklisted_by %>
            </div>
            <div class="div_TableCell" >
              <%= ad_screenshot_links(post) %>
            </div>
            <div class="div_TableCell" >
              <div class="col-msg">
                <p class="msg-txt-close">
                  <%= auto_link(post.message) %>
                </p>
              </div>
            </div>
            <div class="div_TableCell" >
              <%= link_to "Link", post.permalink, target: "_blank" %>
            </div>
            <div class="div_TableCell" >
              <%= post.brand_names rescue "" %>
            </div>
            <div class="div_TableCell" >
              <%= post.licensor_names rescue "" %>
            </div>
            <div class="div_TableCell" >
              <%= post.all_domains.join(", ") %>
            </div>
            <div class="div_TableCell" >
              <%= link_to post.facebook_page.name, post.facebook_page.url, target: "_blank" %>
            </div>
            <div class="div_TableCell" >
              <%= post.likes %>
            </div>
            <div class="div_TableCell" >
              <%= l(post.reported_to_facebook_at, format: :compact) if post.reported_to_facebook_at %>
            </div>
            <div class="div_TableCell" >
              <%= post.reported_to_facebook_by %>
            </div>
            <div class="div_TableCell" >
              <% if post.shut_down_by_facebook_at %>
                <%= l(post.shut_down_by_facebook_at, format: :compact)  %>
              <% else %>
                Pending
              <% end %>
            </div>
            <div class="div_TableCell" >
              <%= post.facebook_report_number %>
            </div>
            <div class="div_TableCell" >
              <%= link_to "Link", post.all_links.last, target: "_blank" %>
            </div>
            <div class="div_TableCell" >
              <%= product_screenshot_links(post) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</dir>
<%= paginate @posts.distinct %>
