<h1>
  <%= t(@status || :all) %>
  Posts
  (<%= @posts.total_count %>)
</h1>

<%= render 'search_form' %>

<%= paginate @posts %>

<%= render_if_exists "mass_actions_#{@status}" %>
<%= render_if_exists "table_#{@status}", fallback: "table_default" %>

<%= paginate @posts %>
