<h3>
  <%= t(@status || :all) %>
  Posts
  (<%= @posts.total_count %>)
</h3>

<%= render 'search_form' %>
<%= render_if_exists "mass_actions_#{@status}", posts: @posts %>
<%= paginate @posts %>
<%= render_if_exists "table_#{@status}", fallback: "table_default" %>
<%= paginate @posts %>
