<%= form_for(user) do |f| %>
  <div class="form-group">
    <div class='col-sm-4' >
      <div id="assigned_domains">
        <%= label_tag :brand_ids, "#{status.titleize} Domains" %>
        <%= select_tag :assigned_domain_id,
                       options_from_collection_for_select(Domain.where(status: status).order("LOWER(name)"), :id, :name),
                       include_blank: true,
                       required: true,
                       data: {remote: true, url: assigned_domains_path(user_id: @user), method: :post},
                       class: "form-control select2 select_#{status}" %>
        <ul class="assigned_domains_<%= status %>">
          <% @user.domains.where(status: status).each do |domain| %>
            <%= render 'user_assigned_domains', domain: domain %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
