<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "shared/user_form", f: f %>

  <div class="form-group">
      <%= f.label :role %><br>
      <%= f.select :role, User.roles.map { |k, v| [t("user_roles.#{k}"), k] },
                          {},
                          class: "form-control select2",
                          required: true %>
  </div>

  <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <%= f.label :primary_color %><br>
          <%= f.color_field :primary_color %>
        </div>
        <div class="col-sm-6">
          <%= f.label :secondary_color %><br>
          <%= f.color_field :secondary_color %>
        </div>
      </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
