<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 text-right">
        <%= search_form_for @q, class: "form-inline" do |f| %>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><%= icon("search") %></div>
            <%= f.text_field :name_cont,
                             class: "form-control mb-2 mr-sm-2 mb-sm-0",
                             placeholder: "Search term" %>
          </div>
          <%= button_tag class: "btn btn-primary" do %>
            <%= icon("search") %>
            Search
          <% end %>
          &nbsp;
          <%= link_to url_for, class: "btn btn-secondary" do %>
            <%= icon("eraser") %>
            Clear search
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
