<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, class: 'form-control', required: true %>
</div>

<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control', required: true %>
</div>

<div class="form-group">
  <%= f.label :password %>
  <%= f.text_field :password, class: 'form-control', required: !f.object.persisted? %>
</div>
<div class="form-group">
  <% if @user.new_record? and params[:employee_id].present? %>
      <%= f.label :employee_id %><br>
      <%= f.collection_select :employee_id, Employee.order(:name),
                              :id, :name,
                              {
                                selected: params[:employee_id],
                                include_blank: true
                              },
                              class: "form-control select2",
                              required: true %>
  <% elsif @user.employee.present? %>
     <%= f.label :employee_id %><br>
      <%= f.collection_select :employee_id, Employee.order(:name),
                              :id, :name,
                              {
                                selected: @user.employee.id,
                                include_blank: true
                              },
                              class: "form-control select2",
                              required: true,
                              disabled: true %>
  <% end %>
</div>
