<fieldset>
  <div class="row">
    <div class="col-md-offset-2 col-md-8 delete-highlighted-area">

      <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
          <span class="text-danger show-on-delete hidden">* Highlighted record will be permanently deleted after save</span>
          <%= link_to "Undo Revoke", 'javascript:void(0);', class: "undo_remove_fields btn btn-success btn-sm pull-right show-on-delete hidden" %>
          <%= f.hidden_field :_destroy %>
          <%= link_to "Revoke", 'javascript:void(0);', class: "remove_fields btn btn-danger btn-sm pull-right hide-on-delete" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name, class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
          <%= f.text_field :name, class: 'form-control', required: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :provider, class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
          <%= f.text_field :provider, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :completion_date, class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
          <%= f.text_field :completion_date, class: 'form-control datetimepickerYearsMode' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :notes, class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
          <%= f.text_area :notes, class: 'form-control', rows: 5 %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :confirmation, class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
          <%= f.check_box :confirmation %>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-offset-2 col-sm-8">
        <hr/>
      </div>
    </div>
  </div>
</fieldset>
