<h1>Add new Facebook Post URL</h1>

<%= form_tag create_from_url_imports_path do %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag :url %>
        <%= text_field_tag :url, nil, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag :brand_id, t(:brand) %>
        <%= select_tag :brand_id,
                       options_from_collection_for_select(Brand.all.order("LOWER(name)"), :id, :name),
                       include_blank: true,
                       class: "form-control select2" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= button_tag class: "btn btn-primary" do %>
      <%= icon("plus") %>
      Add New
    <% end %>
  </div>
<% end %>
