<h3>
  <%= t(@status) %>
  <% if term = params.dig(:q, :name_cont).presence %>
    (matching "<strong><%= term %></strong>")
  <% else %>
    (all)
  <% end %>
</h3>
<h5>
  <%= @facebook_pages.total_count %> records
</h5>

<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-6">
        <% if @status == 'affiliate_page'%>
          <%= link_to url_for(action: 'new'), class: "btn btn-primary pull-left" do %>
            <%= icon("plus") %>
            Add New
          <% end %>
        <% end %>
      </div>

      <div class="col-md-6 text-right">
        <%= search_form_for @q, class: "form-inline" do |f| %>
          <div class="input-group">
            <div class="input-group-addon"><%= icon("search") %></div>
            <%= f.hidden_field :status, value: @status if @status %>
            <%= f.text_field :name_cont,
                             class: "form-control",
                             placeholder: "Search term" %>
          </div>
          <%= button_tag class: "btn btn-primary" do %>
            <%= icon("search") %>
            Search
          <% end %>
          &nbsp;
          <%= link_to url_for(status: @status), class: "btn btn-secondary" do %>
            <%= icon("eraser") %>
            Clear search
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= paginate @facebook_pages %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Image</th>
      <th><%= sort_link(@q, :name_case_insensitive, "Page Name") %></th>
      <% unless @status == "affiliate_page" %>
        <th><%= t(:ads) %></th>
        <th>Brands</th>
        <th><%= sort_link(@q, :licensor_id, "Licensor") %></th>
        <th><%= sort_link(@q, :shut_down_by_facebook_at, "Shut down by Facebook at") %></th>
      <% else %>
        <th><%= sort_link(@q, :affiliate_name, "Affiliate Name")%></th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @facebook_pages.each do |page| %>
      <% posts_count = page.facebook_posts.size %>
      <tr>
        <td>
          <%= image_tag page.image_url, width: "150px" if page.image_url %>
        </td>
        <td>
          <%= link_to page.name, page.url, target: "_blank" %>
        </td>
        <% unless @status == "affiliate_page" %>
          <td>
            <%= posts_count %>
          </td>
          <td>
            <%= page.brand_names %>
          </td>
          <td>
            <%= page.licensor_names %>
          </td>
          <td>
            <% if page.shut_down_by_facebook_at %>
              <%= l(page.shut_down_by_facebook_at, format: :compact) %>
            <% end %>
          </td>
        <% else %>
          <td class="affiliate_page_name">
            <span> <%= page.affiliate_name %> </span>
            <% if policy(FacebookPage).update? %>
              <%= form_for page, html:{class: "#{!page.affiliate_name ? 'show' : 'hide'}"} do |p| %>
                <div class="row">
                  <div class="col-sm-8">
                    <%= p.text_field :affiliate_name, required: true,
                             class: "form-control fast-add-form mb-2 mr-sm-2 mb-sm-0",
                             placeholder: "Affiliate Name" %>
                  </div>
                  <div class="col-sm-4">
                    <%= p.button class: "btn btn-primary btn-sm pull-right" do %>
                      <%= icon("plus") %>
                      Add Affiliate Name
                    <% end %>
                  </div>
                </div>
              <% end %>
              <%= button_tag class: "btn btn-primary btn-sm pull-right update_name_btn #{page.affiliate_name ? 'show' : 'hide' }" do %>
                <%= icon("edit") %>
                Edit Name
              <% end %>
              &nbsp;
            <% end %>
          </td>
        <% end %>
        <td class="text-right">
          <%= link_to page,
                      method: :delete,
                      data: { confirm: "Are you sure? #{posts_count} page ads will also be deleted." },
                      class: "btn btn-danger btn-sm" do %>
            <%= icon("trash") %>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @facebook_pages %>
