<%= form_for Domain.new, html: { class: "form-inline" } do |f| %>
  <%= f.hidden_field :status, value: @status if @status %>
  <div class="input-group">
    <div class="input-group-addon"><%= icon("plus") %></div>
    <%= f.text_field :name,
                     class: "form-control",
                     placeholder: "Name" %>
  </div>
  <% if @status == "blacklisted" %>
    <%= f.email_field :owner_email,
                     class: "form-control fast-add-form",
                     placeholder: "Owner's Email" %>
  <% end %>
  <%= f.button class: "btn btn-primary" do %>
    <%= icon("plus") %>
    Add New
  <% end %>
<% end %>
