<h1>
  <%= t(@status || :all) %>
  Domains
  (<%= @domains.total_count %>)
</h1>

<%= paginate @domains %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, "Name") %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td>
          <%= domain.name %>
        </td>
        <td class="text-right">
          <% unless domain.whitelisted? %>
            <%= link_to domain_change_status_path(domain, :whitelisted),
                        method: :post,
                        class: "btn btn-success" do %>
              <%= icon("check") %>
              Whitelist domain
            <% end %>
            <br><br>
          <% end %>

          <% unless domain.blacklisted? %>
            <%= link_to domain_change_status_path(domain, :blacklisted),
                        method: :post,
                        class: "btn btn-danger" do %>
              <%= icon("ban") %>
              Blacklist domain
            <% end %>
            <br><br>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @domains %>
