<h1>
  <%= t(@status || :all) %>
  Domains
  (<%= @domains.total_count %>)
</h1>

<%= form_for Domain.new, html: { class: "form-inline" } do |f| %>
  <%= f.hidden_field :status, value: @status if @status %>
  <%= f.text_field :name,
                   class: "form-control fast-add-form mb-2 mr-sm-2 mb-sm-0",
                   placeholder: "Name" %>
  <%= f.button class: "btn btn-primary" do %>
    <%= icon("plus") %>
    Add New
  <% end %>
<% end %>

<br>

<%= paginate @domains %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name_case_insensitive, "Name") %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td>
          <%= domain.name %>
        </td>
        <td class="text-right">
          <% unless domain.whitelisted? %>
            <%= link_to domain_change_status_path(domain, :whitelisted),
                        method: :post,
                        class: "btn btn-success btn-sm" do %>
              <%= icon("check") %>
              Move to Whitelist
            <% end %>
            <br><br>
          <% end %>

          <% unless domain.blacklisted? %>
            <%= link_to domain_change_status_path(domain, :blacklisted),
                        method: :post,
                        class: "btn btn-danger btn-sm" do %>
              <%= icon("ban") %>
              move to Blacklist
            <% end %>
            <br><br>
          <% end %>

          <%= link_to domain,
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: "btn btn-danger btn-sm" do %>
            <%= icon("trash") %>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @domains %>
