<h3>
  Keywords
  <% if term = params.dig(:q, :name_cont).presence %>
    (matching '<%= term %>')
  <% else %>
    (all)
  <% end %>
</h3>

<%= render "shared/resource_top_forms", resource: Keyword.new %>

<table class="table table-hover table-bordered", id="scroll_table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name_case_insensitive, "Name") %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody class="scroll_table_body">
    <% @keywords.each do |keyword| %>
      <tr class="scroll_table_data">
        <td><%= keyword.name %></td>
        <td class="text-right">
          <%= link_to edit_keyword_path(keyword),
                      class: "btn btn-secondary btn-sm" do %>
            <%= icon("pencil") %>
            Edit
          <% end %>
          <%= link_to keyword,
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: "btn btn-danger btn-sm" do %>
            <%= icon("trash") %>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="hide">
  <%= paginate @keywords %>
</div>
