<h3>
  <%= t(:user_activities) %>
</h3>

<table class="table table-sm table-hover table-bordered activities">
  <thead>
    <tr>
      <th>User</th>
      <th>Action</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr class="<%= "table-#{activity.key.split(".").last}" %>">
        <td>
          <%= activity.owner ? activity.owner.email : "<AUTOMATIC>" %>
        </td>
        <td class="activities-long-text">
          <%= t("activities.#{activity.key}", name: activity.parameters[:name]) %>
        </td>
        <td>
          <%= l(activity.created_at, format: :compact) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @activities %>
