<h1>
  <%= t(:user_activities) %>
</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>User</th>
      <th>Action</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr class="<%= "table-#{activity.key.split(".").last}" %>">
        <td>
          <%= activity.owner.email %>
        </td>
        <td>
          <%= t("activities.#{activity.key}", name: activity.parameters[:name]) %>
        </td>
        <td>
          <%= l(activity.created_at, format: :compact) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @activities %>
