<%= nested_form_for [@email_template, @sent_email], url: email_template_sent_emails_path(email_template_id: @email_template.id ), method: :post, html: {id: 'cease_and_desist_form', url: email_templates_path} do |f| %>

  <div class="row">

    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :subject %>
        <%= f.text_field :subject, value: @email_template.default_subject,
                          class: "form-control domains_owner_email" %>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="form-group">
        <%= f.hidden_field :brand_id %>
        <%= f.hidden_field :user_id, value:  current_user.id %>
        <%= f.label :brands %>
        <%= select_tag :brand_id,
                             options_from_collection_for_select(@brands, :id, :name, f.object.try(:brand_id)),
                             class: "form-control select2",
                             include_blank: true,
                             data:{remote: true, url: get_licensors_brands_info_licensor_path(@licensor)},
                             required: true %>

      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :brand_logo %>
        <%= f.select :brand_logo_id,"",
                           {include_blank: true},
                           data:{remote: true, url: preview_email_template_sent_emails_path(@email_template)},
                           required: true,
                           class: "form-control select2 brand_logos" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :domain_to_email %>
        <%= f.select :domain_id, options_from_collection_for_select(@domains, :id, :name),
                           {include_blank: true},
                           class: "form-control select2 domains_owner_email" %>
      </div>
    </div>

  </div>



  <div class="row">


    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :cc_emails %>
        <%= f.email_field :cc_emails,
                          data:{role: "tagsinput"},
                          class: " domains_owner_email" %>
      </div>
    </div>
  </div>





  <div class="row">
    <div class="col-md-12">
      <div class= "note form-group">
        <span>Use these tags to fill Brand's Logo related information in the below template</span>
        <br></br>
        <ul>
          <li>[TRADEMARK_REGISTRATION_NUMBER]</li>
          <li>[TRADEMARK_REGISTRATION_LOCATION]</li>
          <li>[TRADEMARK_REGISTRATION_CATEGORY]</li>
          <li>[TRADEMARK_REGISTRATION_URL]</li>
          <li>[BRAND_NAME]</li>
          <li>[LICENSOR_NAME]</li>

        </ul>
        <br>
        <span>* Only these fields will be used for automated population of data.</span>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.cktext_area :body, value: @email_template.text ,ckeditor: {toolbar: 'mini' }, required: true  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 pull-right">
      <%= button_tag(type: 'submit', name: 'commit', value: 'send_email', class: 'btn btn-success pull-right') do %>
        <%= icon("send") %>
        Send Email
      <% end %>
    </div>
  </div>

<% end %>
