<%= fields_for 'email_template[sent_emails_attributes][0]' do |e| %>
  <%= e.hidden_field :brand_id %>

  <div class="row">

    <div class="col-md-6">
      <div class="form-group">
        <%= e.label :brands %>
        <%= select_tag :brand_id,
                             options_from_collection_for_select(@brands, :id, :name, e.object.try(:brand_id)),
                             class: "form-control select2",
                             include_blank: true,
                             data:{remote: true, url: get_licensors_brands_info_licensor_path(@licensor)},
                             required: true %>

      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= e.label :brand_logo %>
        <%= e.select :brand_logo_id,"",
                           {include_blank: true},
                           class: "form-control select2 brand_logos" %>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :subject %>
        <%= f.text_field :default_subject,
                          class: "form-control domains_owner_email" %>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="form-group">
        <%= e.label :domain %>
        <%= e.select :domain_id, options_from_collection_for_select(@domains, :id, :name),
                           {include_blank: true},
                           class: "form-control select2 domains_owner_email" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= e.label :cc_emails %>
        <%= e.text_field :cc_emails,
                          data:{role: "tagsinput"},
                          class: "form-control domains_owner_email" %>
      </div>
    </div>
  </div>

<% end %>
