<h3>
  Licensors
  <% if term = params.dig(:q, :name_cont).presence %>
    (matching '<%= term %>')
  <% else %>
    (all)
  <% end %>
</h3>

<%= render "shared/resource_top_forms", resource: Licensor.new %>

<br>

<%= paginate @licensors %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name_case_insensitive, "Name") %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @licensors.each do |licensor| %>
      <tr>
        <td><%= licensor.name %></td>
        <td class="text-right">
          <%= link_to edit_licensor_path(licensor),
                      class: "btn btn-secondary btn-sm" do %>
            <%= icon("pencil") %>
            Edit
          <% end %>
          <%= link_to licensor,
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: "btn btn-danger btn-sm" do %>
            <%= icon("trash") %>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @licensors %>
