<div class="mobile-menu-left-overlay"></div>
<ul class="main-nav nav nav-inline">
  <% if policy(:dashboard).index? %>
    <li class="nav-item">
      <%= link_to dashboard_index_path,
                  class: "nav-link #{'active' if current_page?(dashboard_index_path)}" do %>
        <%= icon("home", class: "fa-fw") %>
        Home
      <% end %>
    </li>
  <% end %>

  <% if policy(Keyword).index? %>
    <li class="nav-item">
      <%= link_to keywords_path,
                  class: "nav-link #{'active' if current_page?(keywords_path)}" do %>
        <%= icon("quote-right", class: "fa-fw") %>
        <%= "#{t(:keywords)} (#{policy_scope(Keyword).count})" %>
      <% end %>
    </li>
  <% end %>

  <% if policy(Brand).index? %>
    <li class="nav-item">
      <%= link_to brands_path,
                  class: "nav-link #{'active' if current_page?(brands_path)}" do %>
        <%= icon("shield", class: "fa-fw") %>
        <%= "#{t(:brands)} (#{policy_scope(Brand).count})" %>
      <% end %>
    </li>
  <% end %>

  <% if policy(Licensor).index? %>
    <li class="nav-item">
      <%= link_to licensors_path,
                  class: "nav-link #{'active' if current_page?(licensors_path)}" do %>
        <%= icon("handshake-o", class: "fa-fw") %>
        <%= "#{t(:licensors)} (#{policy_scope(Licensor).count})" %>
      <% end %>
    </li>
  <% end %>

  <% if policy(Domain).index? %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle <%= 'active' if current_page?(domains_path) %>"
         data-toggle="dropdown"
         href="#"
         role="button"
         aria-haspopup="true"
         aria-expanded="false">
        <%= icon("globe", class: "fa-fw") %>
        Domains
      </a>
      <div class="dropdown-menu">
        <%= link_to domains_path(status: :whitelisted),
                    class: "dropdown-item #{'active' if current_page?(domains_path) && @status == 'whitelisted'}" do %>
          <%= icon("check", class: "fa-fw") %>
          <%= "#{t(:whitelisted)} (#{policy_scope(Domain).whitelisted.count})" %>
        <% end %>

        <%= link_to domains_path(status: :blacklisted),
                    class: "dropdown-item #{'active' if current_page?(domains_path) && @status == 'blacklisted'}" do %>
          <%= icon("ban", class: "fa-fw") %>
          <%= "#{t(:blacklisted)} (#{policy_scope(Domain).blacklisted.count})" %>
        <% end %>
      </div>
    </li>
  <% end %>

  <% if policy(:import).url? || policy(FacebookPost).index_any? %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle <%= 'active' if current_page?(facebook_posts_path) %>"
         data-toggle="dropdown"
         href="#"
         role="button"
         aria-haspopup="true"
         aria-expanded="false">
        <%= icon("facebook", class: "fa-fw") %>
        <%= t(:posts) %>
      </a>
      <div class="dropdown-menu">
        <% if policy(:import).url? %>
          <%= link_to url_imports_path,
                      class: "dropdown-item #{'active' if current_page?(url_imports_path)}" do %>
            <%= icon("plus", class: "fa-fw") %>
            Add new
          <% end %>

          <div class="dropdown-divider"></div>
        <% end %>

        <% if policy(FacebookPost).index_not_suspect? %>
          <%= link_to facebook_posts_path(q: { status_eq: :not_suspect }),
                      class: "dropdown-item #{'active' if current_page?(facebook_posts_path) && @status == 'not_suspect'}" do %>
            <%= icon("circle-thin", class: "fa-fw") %>
            <%= "#{t(:not_suspect)} (#{policy_scope(FacebookPost).not_suspect.size})" %>
          <% end %>
        <% end %>

        <% if policy(FacebookPost).index_suspect? %>
          <%= link_to facebook_posts_path(q: { status_eq: :suspect }),
                      class: "dropdown-item #{'active' if current_page?(facebook_posts_path) && @status == 'suspect'}" do %>
            <%= icon("question", class: "fa-fw") %>
            <%= "#{t(:suspect)} (#{policy_scope(FacebookPost).suspect.size})" %>
          <% end %>
        <% end %>

        <% if policy(FacebookPost).index_whitelisted? %>
          <%= link_to facebook_posts_path(q: { status_eq: :whitelisted }),
                      class: "dropdown-item #{'active' if current_page?(facebook_posts_path) && @status == 'whitelisted'}" do %>
            <%= icon("check", class: "fa-fw") %>
            <%= "#{t(:whitelisted)} (#{policy_scope(FacebookPost).whitelisted.size})" %>
          <% end %>
        <% end %>

        <% if policy(FacebookPost).index_blacklisted? %>
          <%= link_to facebook_posts_path(q: { status_eq: :blacklisted }),
                      class: "dropdown-item #{'active' if current_page?(facebook_posts_path) && @status == 'blacklisted'}" do %>
            <%= icon("ban", class: "fa-fw") %>
            <%= "#{t(:blacklisted)} (#{policy_scope(FacebookPost).blacklisted.size})" %>
          <% end %>
        <% end %>

        <% if policy(FacebookPost).index_reported_to_facebook? %>
          <%= link_to facebook_posts_path(q: { status_eq: :reported_to_facebook }),
                      class: "dropdown-item #{'active' if current_page?(facebook_posts_path) && @status == 'reported_to_facebook'}" do %>
            <%= icon("facebook", class: "fa-fw") %>
            <%= "#{t(:reported_to_facebook)} (#{policy_scope(FacebookPost).reported_to_facebook.size})" %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>

  <% if policy(FacebookPost).export? %>
    <li class="nav-item">
      <%= link_to export_facebook_posts_path,
                  class: "nav-link #{'active' if current_page?(export_facebook_posts_path)}" do %>
        <%= icon("download", class: "fa-fw") %>
        <%= t(:blacklist_export) %>
      <% end %>
    </li>
  <% end %>

  <% if policy(User).index? %>
    <li class="nav-item">
      <%= link_to users_path,
                  class: "nav-link #{'active' if current_page?(users_path)}" do %>
        <%= icon("users", class: "fa-fw") %>
        <%= t(:users) %>
      <% end %>
    </li>
  <% end %>

  <% if policy(PublicActivity::Activity).index? || policy(:report).any? %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle <%= 'active' if current_page?('/reports') %>"
         data-toggle="dropdown"
         href="#"
         role="button"
         aria-haspopup="true"
         aria-expanded="false">
        <%= icon("table", class: "fa-fw") %>
        Reports
      </a>
      <div class="dropdown-menu">
        <% if policy(PublicActivity::Activity).index? %>
          <%= link_to activities_path,
                      class: "dropdown-item #{'active' if current_page?(activities_path)}" do %>
            <%= icon("list-ul", class: "fa-fw") %>
            <%= t(:user_activities) %>
          <% end %>
        <% end %>

        <% if policy(:report).team_production? %>
          <%= link_to team_production_reports_path,
                      class: "dropdown-item #{'active' if current_page?(team_production_reports_path)}" do %>
            <%= icon("users", class: "fa-fw") %>
            <%= t(:team_production) %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
