<div class="col-md-3 col-lg-2">
  <div class="bootstrap-vertical-nav">
    <button class="btn btn-primary hidden-md-up" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <span class="">Menu</span>
    </button>

    <div class="collapse" id="collapseExample">
      <ul class="nav nav-pills flex-column" id="exCollapsingNavbar3">
        <li class="nav-item">
          <%= link_to keywords_path,
                      class: "nav-link #{'active' if current_page?('/keywords')}" do %>
            <%= icon("quote-right") %>
            <%= "#{t(:keywords)} (#{Keyword.count})" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to brands_path,
                      class: "nav-link #{'active' if current_page?('/brands')}" do %>
            <%= icon("shield") %>
            <%= "#{t(:brands)} (#{Brand.count})" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to licensors_path,
                      class: "nav-link #{'active' if current_page?('/licensors')}" do %>
            <%= icon("handshake-o") %>
            <%= "#{t(:licensors)} (#{Licensor.count})" %>
          <% end %>
        </li>

        <li class="nav-item">
          <h5>Domains</h5>
        </li>
        <li class="nav-item">
          <%= link_to domains_path(status: :whitelisted),
                      class: "nav-link #{'active' if current_page?('/domains') && @status == 'whitelisted'}" do %>
            <%= icon("check") %>
            <%= "#{t(:whitelisted)} (#{Domain.whitelisted.count})" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to domains_path(status: :blacklisted),
                      class: "nav-link #{'active' if current_page?('/domains') && @status == 'blacklisted'}" do %>
            <%= icon("ban") %>
            <%= "#{t(:blacklisted)} (#{Domain.blacklisted.count})" %>
          <% end %>
        </li>

        <li class="nav-item">
          <h5>Posts</h5>
        </li>
        <li class="nav-item">
          <%= link_to new_facebook_post_path,
                      class: "nav-link #{'active' if current_page?('/posts/new')}" do %>
            <%= icon("plus") %>
            Add new
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to facebook_posts_path(status: :not_suspect),
                      class: "nav-link #{'active' if current_page?('/facebook_posts') && @status == 'not_suspect'}" do %>
            <%= icon("circle-thin") %>
            <%= "#{t(:not_suspect)} (#{FacebookPost.not_suspect.size})" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to facebook_posts_path(status: :suspect),
                      class: "nav-link #{'active' if current_page?('/facebook_posts') && @status == 'suspect'}" do %>
            <%= icon("question") %>
            <%= "#{t(:suspect)} (#{FacebookPost.suspect.size})" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to facebook_posts_path(status: :whitelisted),
                      class: "nav-link #{'active' if current_page?('/facebook_posts') && @status == 'whitelisted'}" do %>
            <%= icon("check") %>
            <%= "#{t(:whitelisted)} (#{FacebookPost.whitelisted.size})" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to facebook_posts_path(status: :blacklisted),
                      class: "nav-link #{'active' if current_page?('/facebook_posts') && @status == 'blacklisted'}" do %>
            <%= icon("ban") %>
            <%= "#{t(:blacklisted)} (#{FacebookPost.blacklisted.size})" %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to reported_to_facebook_facebook_posts_path,
                      class: "nav-link #{'active' if current_page?(reported_to_facebook_facebook_posts_path)}" do %>
            <%= icon("facebook") %>
            <%= "#{t(:reported_to_facebook)} (#{FacebookPost.reported_to_facebook.size})" %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to export_facebook_posts_path,
                      class: "nav-link #{'active' if current_page?('/facebook_posts/export')}" do %>
            <%= icon("download") %>
            <%= t(:blacklist_export) %>
          <% end %>
        </li>

        <li class="nav-spacer"></li>
        <li class="nav-item">
          <%= link_to activities_path,
                      class: "nav-link #{'active' if current_page?('/activities')}" do %>
            <%= icon("users") %>
            <%= t(:user_activities) %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
