<div class="counterfind_ux_v2">
  <div class="inner-header">
    <div class="holder">
      <div class="row">
        <div class="col-md-8">
          <div class="heading-holder">
            <h3 class="m0">
              Employees Report export
            </h3>
          </div>
        </div>
        <div class="col-md-4 text-right pl5 pr5">
          <%= link_to url_for(q: csv_export_params(params[:q]), format: :csv),
                      class: "btn btn-primary" do %>
            <%= icon("download") %>
            <%= t(:download_as_csv) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% report_presenter = EmployeesReportPresenter.new(self, params[:employee], @employees, :html) %>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <%= report_presenter.emp_report_theads %>
        <!-- <th>Actions</th> -->
      </tr>
    </thead>

    <tbody>
      <%= report_presenter.emp_report_data_as_html %>
    </tbody>
  </table>
</div>
